
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart .active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box {
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price {
    font-weight: 500;
}
.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title {
    font-size: 1rem;
    font-weight: 600;
}
.total-price {
    margin-left: 0.5rem;
}
.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover {
    background: var(--text-color);
}
#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.products {
    position: relative;
}

.products a {
    text-decoration: none;
    color: #171427;
}

.products:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.products-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}

footer {
    width: 100%;
    height: 45vh;
    padding: 40px 50px;
    background: #171427;
    margin-top: 10px;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
    font-family: 'Poppins', serif;
    font-size: 16px;
    color: #f2f2f2;
    line-height: 30px;
}

footer ul li a {
    padding-top: 30px;
    font-family: 'Poppins', serif;
    font-size: 16px;
    color: #f2f2f2;
    line-height: 30px;
    
}

.footer-sm {
    width: 80px;
    float: right;
    margin-bottom: 40px;
    padding-right: 20px;
}

.footer-sm h2 {
    color: #f2f2f2;
    
}

/* Products details */

.product1 {
    width: 370px;
    margin-top: 100px;
    margin-bottom: 0.5rem;
    margin-left: 490px;
    text-align: center;
}

.btn-buy {
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buys:hover {
    background: var(--text-color);
}

.item-description {
    text-align: center;
}

.btn-buys {
    display: inline-flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* privacy policy*/

.header-title {
    margin-top: 80px;
    text-align: center;
}

.body-title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.privacy-body {
    padding-left: 80px;
    padding-right: 80px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;;
}

/* Responsive design*/

@media only screen and (min-width: 1000px) {
    .brands{
        display:  none;
    }
    .about-us {
        display: none;
    }
}

